.custom_context_menu {
	position: absolute;
	z-index: 1;
	width: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 3px 3px 4px 0 #043C6B;

	.option {
		font-size: .9rem;
		color: #fff;
		padding: .2rem .5rem;
		text-align: left;
		width: 100%;
		cursor: pointer;
		background: #5740FF;
		border: none;

		&:hover {
			color: #000;
			background: #8473FF;
		}
	}
}