.custom_context_menu {
	position: absolute;
	z-index: 1;
	width: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	background: #5740FF;
	box-shadow: 3px 3px 4px 0 #043C6B;

	&>*:first-child {
		border-radius: 4px 4px 0 0;
	}

	&>*:last-child {
		border-radius: 0 0 4px 4px;
	}
}