.inputText {
	width: 100%;
	height: 2rem;
	color: teal;
	border-radius: .3rem;
	border: none;

	&::placeholder {
		color: teal;
		padding: 0 0 0 .2rem;
	}

	&:focus {
		border: none;
		outline: none;
	}

	&_paddingRight {
		padding: 0 2.75rem 0 0;
	}
}