.folder {
	height: 2.3rem;
	padding: 0 .7rem 0 .5rem;
	width: 100%;
	border: none;
	border-radius: 0 50px 50px 0;
	background: #fff;
	box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
	transition: box-shadow .2s;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:hover {
		box-shadow: 0px 0px 0px 4px rgba(114, 162, 252, 0.342);
	}

	&_selected {
		box-shadow: 0px 0px 0px 4px rgba(114, 162, 252, 0.342);
	}

	.text {
		color: rgb(44, 65, 90);
		font-weight: 600;
		font-size: .9rem;
	}
}