.backGroundDark {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.417);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;

	.modalWindow {
		height: 10rem;
		width: 25rem;
		background: rgb(255, 255, 255);
		display: flex;
		align-items: center;
		padding: 1rem;
		border: 2px solid rgb(2, 110, 186);
		border-radius: 5px;
		box-shadow: 1px 1px 10px 1px rgb(75, 75, 75);

	}
}