.folderManager {
	border: 1px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1rem;
	min-height: 2.5rem;

	.TextField {
		width: 8rem;
		display: flex;
		align-items: center;
	}

	.controlButtons {
		width: 4.125rem;
	}
}