.Messages {
	width: 100%;
	height: 2.5rem;

	&>* {
		border-bottom: 1px solid #000;
	}

	.author {
		width: 10rem;
		padding-left: .5rem;
		white-space: nowrap;
	}

	.message {
		padding-left: 1rem;
		white-space: nowrap;
	}

	.date {
		width: 7rem;
		text-align: center;
	}
}